.navbar .btn-primary {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .navbar .btn-primary img {
    height: 36px;
    width: auto;
    vertical-align: middle;
  }

  .navbar .navbar-brand img {
    height: 36px;
    width: auto;
    vertical-align: middle; 
  }
  
  .navbar {
  	color:#364f37;
  }
  
  .container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}
